/*open-sans*/
@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/open-sans/opensans-bold-webfont.eot');
    src: url('../assets/fonts/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
    url('../assets/fonts/open-sans/opensans-bold-webfont.ttf') format('truetype'),
    url('../assets/fonts/open-sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/open-sans/opensans-italic-webfont.eot');
    src: url('../assets/fonts/open-sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/open-sans/opensans-italic-webfont.woff2') format('woff2'),
    url('../assets/fonts/open-sans/opensans-italic-webfont.woff') format('woff'),
    url('../assets/fonts/open-sans/opensans-italic-webfont.ttf') format('truetype'),
    url('../assets/fonts/open-sans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/open-sans/opensans-light-webfont.eot');
    src: url('../assets/fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/open-sans/opensans-light-webfont.woff') format('woff'),
    url('../assets/fonts/open-sans/opensans-light-webfont.ttf') format('truetype'),
    url('../assets/fonts/open-sans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/open-sans/opensans-regular-webfont.eot');
    src: url('../assets/fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
    url('../assets/fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*pt-sans*/

@font-face {
    font-family: 'pt_sans_narrow';
    src: url('../assets/fonts/pt-sans/ptn77f-webfont.eot');
    src: url('../assets/fonts/pt-sans/ptn77f-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/pt-sans/ptn77f-webfont.woff2') format('woff2'),
    url('../assets/fonts/pt-sans/ptn77f-webfont.woff') format('woff'),
    url('../assets/fonts/pt-sans/ptn77f-webfont.ttf') format('truetype'),
    url('../assets/fonts/pt-sans/ptn77f-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans';
    src: url('../assets/fonts/pt-sans/pts55f-webfont.eot');
    src: url('../assets/fonts/pt-sans/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/pt-sans/pts55f-webfont.woff2') format('woff2'),
    url('../assets/fonts/pt-sans/pts55f-webfont.woff') format('woff'),
    url('../assets/fonts/pt-sans/pts55f-webfont.ttf') format('truetype'),
    url('../assets/fonts/pt-sans/pts55f-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans';
    src: url('../assets/fonts/pt-sans/pts56f-webfont.eot');
    src: url('../assets/fonts/pt-sans/pts56f-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/pt-sans/pts56f-webfont.woff2') format('woff2'),
    url('../assets/fonts/pt-sans/pts56f-webfont.woff') format('woff'),
    url('../assets/fonts/pt-sans/pts56f-webfont.ttf') format('truetype'),
    url('../assets/fonts/pt-sans/pts56f-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pt_sans';
    src: url('../assets/fonts/pt-sans/pts75f-webfont.eot');
    src: url('../assets/fonts/pt-sans/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/pt-sans/pts75f-webfont.woff2') format('woff2'),
    url('../assets/fonts/pt-sans/pts75f-webfont.woff') format('woff'),
    url('../assets/fonts/pt-sans/pts75f-webfont.ttf') format('truetype'),
    url('../assets/fonts/pt-sans/pts75f-webfont.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*segoe-wp*/

@font-face {
    font-family: 'SegoeWP';
    src: url('../assets/fonts/segoe-wp/SegoeWP.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/segoe-wp/SegoeWP.woff') format('woff'),
    url('../assets/fonts/segoe-wp/SegoeWP.ttf') format('truetype'),
    url('../assets/fonts/segoe-wp/SegoeWP.svg#SegoeWP') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*segoe-wp-light*/

@font-face {
    font-family: 'SegoeWP-Light';
    src: url('../assets/fonts/segoe-wp-light/SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/segoe-wp-light/SegoeWP-Light.woff') format('woff'),
    url('../assets/fonts/segoe-wp-light/SegoeWP-Light.ttf') format('truetype'),
    url('../assets/fonts/segoe-wp-light/SegoeWP-Light.svg#SegoeWP-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*asap*/

@font-face {
    font-family: 'asap_bold';
    src: url('../assets/fonts/asap/asap-bold-webfont.eot');
    src: url('../assets/fonts/asap/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/asap/asap-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/asap/asap-bold-webfont.woff') format('woff'),
    url('../assets/fonts/asap/asap-bold-webfont.ttf') format('truetype'),
    url('../assets/fonts/asap/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'asap_italic';
    src: url('../assets/fonts/asap/asap-italic-webfont.eot');
    src: url('../assets/fonts/asap/asap-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/asap/asap-italic-webfont.woff2') format('woff2'),
    url('../assets/fonts/asap/asap-italic-webfont.woff') format('woff'),
    url('../assets/fonts/asap/asap-italic-webfont.ttf') format('truetype'),
    url('../assets/fonts/asap/asap-italic-webfont.svg#asapitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'asap';
    src: url('../assets/fonts/asap/asap-medium-webfont.eot');
    src: url('../assets/fonts/asap/asap-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/asap/asap-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/asap/asap-medium-webfont.woff') format('woff'),
    url('../assets/fonts/asap/asap-medium-webfont.ttf') format('truetype'),
    url('../assets/fonts/asap/asap-medium-webfont.svg#asapmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'asap';
    src: url('../assets/fonts/asap/asap-regular-webfont.eot');
    src: url('../assets/fonts/asap/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/asap/asap-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/asap/asap-regular-webfont.woff') format('woff'),
    url('../assets/fonts/asap/asap-regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/asap/asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*pt_sans_narrow*/

@font-face {
    font-family: 'pt_sans_narrow_bold';
    src: url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-bold-webfont.eot');
    src: url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-bold-webfont.woff') format('woff'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-bold-webfont.ttf') format('truetype'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-bold-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_narrow';
    src: url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-regular-webfont.eot');
    src: url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-regular-webfont.woff') format('woff'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/font_pt_sans_narrow/ptsansnarrow-regular-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}